<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
    <add key="checiStart" value="C,D,G,K,L,Q,S,T,Y,Z,1,2,3,4,5,6,7,8,9"/>
    <add key="TomAccessDB" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=go2015.mdb; User Id=; Password="/>
  </appSettings>
</configuration>